include LICENSE
include README.rst
include dev-requirements.txt
include docs/Makefile
include docs/conf.py
include docs/make.bat
recursive-include docs *.rst
include tox.ini
recursive-include tests/data *.microdata *.html
